@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-secondary antialiased;
    }
}

@layer components {
    .glass-panel {
        @apply bg-white/80 backdrop-blur-md border border-slate-200 shadow-xl rounded-2xl;
    }
}